@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{margin: 0;padding: 0; text-decoration: none;}

nav{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav ul{
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1{width: 150px;}
.menu2{width: 150px;}
.menu3{width: 150px;}
.menu4{width: 150px;}

nav ul li a{
  color: #3B1F13;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

footer{
  width: 100%;
  height: 50px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #3B1F13;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}

.line1{
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
}

.line2{
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
}

.line3{
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
}

.line4{
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 150px;
}

.work1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap01{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap02{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap03{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap04{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work5{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap05{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work6{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap06{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work7{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap07{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work8{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap08{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work9{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
}

.wrap09{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.butt{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 53.5px;
  margin-bottom: 53.5px;
}
